In [1]:
fruits=["apple", "banana","strawberry","blueberry","pear"]

In [7]:
fruits.append("orange")
print(fruits)

['apple', 'banana', 'strawberry', 'blueberry', 'pear', 'orange']

In [8]:
fruits.remove("pear")
print(fruits)

['apple', 'banana', 'strawberry', 'blueberry', 'orange']

In [9]:
print(fruits[::-1])

['orange', 'blueberry', 'strawberry', 'banana', 'apple']

In [10]:
info = {"name": "Seamus", "age": 21, "city": "Philadelphia"}

In [11]:
info["favorite color"]="green"
print(info)

{'name': 'Seamus', 'age': 21, 'city': 'Philadelphia', 'favorite color': 'green'}

In [12]:
info["city"]="Hoboken"
print(info)

{'name': 'Seamus', 'age': 21, 'city': 'Hoboken', 'favorite color': 'green'}

In [15]:
for x in info.items():
  print(x)

('name', 'Seamus')
('age', 21)
('city', 'Hoboken')
('favorite color', 'green')

In [16]:
favorites=('Apocalypse now','Take Me To The Top','Burn Your Goals')

In [19]:
favorites[0]='The Prestige'

TypeError: 'tuple' object does not support item assignment

In [21]:
length=(len(favorites))
print(f"the length of this tuple is {length}")

the length of this tuple is 3